.coaches .container {
  padding-top: 50px;
  position: relative;

  @media (max-width: $vp-1366) {
    padding-top: 0;
  }
}

.coaches__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.coaches__item {
  position: relative;
}

.coaches__link {
  position: relative;
  color: $default-white;
  display: flex;
  width: fit-content;

  &:hover .coaches__wrapper {
    display: block;
  }
}

.coaches__link span {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 700;
}

.coaches__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $base;
  opacity: 0.9;
  width: fit-content;
  color: $default-white;
  padding: 56px;
  font-size: 14px;
}

.coaches__info-list {
  list-style: disc outside;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coaches__name {
  margin: 0;
  text-align: center;
}

.coaches__style {
  text-align: center;
  color: $muted-gray;
  margin: 0 0 30px;
}

.coaches__info-list li:not(:last-of-type) {
  margin-bottom: 24px;
}

.coaches__info-list p {
  margin: 0;
}

.coaches__slide-btn {
  position: absolute;
  top: 60%;
  background-color: transparent;
  border: none;
  z-index: 5;
  transform: translateY(-60%);

  @media (max-width: $vp-1366) {
    top: 50%;
    transform: translateY(-50%);
  }

  &--prev {
    left: 50px;

    @media (max-width: $vp-1366) {
      left: 1%;
    }
  }

  &--next {
    right: 50px;
    transform: rotate(180deg);

    @media (max-width: $vp-1366) {
      right: 1%;
    }
  }
}

.coaches__slide-img {
  stroke: $dark;
}

.coaches__slide-btn:disabled .coaches__slide-img {
  stroke: $disabled;
}
