.footer {
  padding: 42px 104px;
  background-color: $dark;

  @media (max-width: $vp-1366) {
    padding: 0;
  }
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $vp-1366) {
    padding: 45px;
  }
}

.footer__list, .footer__social {
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list {
 display: flex;
  gap: 40px;

  @media (max-width: $vp-1366) {
    gap: 30px;
  }
}

.footer__link {
  padding: 2px 5px;
  color: $default-white;
  font-size: 14px;

  &:hover {
    border-bottom: 1px solid $default-white;
  }

  &:focus-visible {
    border: 1px solid $default-white;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.footer__social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 11px;
}

.footer__social-link {
  display: flex;
  padding: 10px;
  background-color: $default-white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.footer__social-link:hover .footer__social-img,
.footer__social-link:focus-visible .footer__social-img,
.footer__social-link:active .footer__social-img {
  fill: $default-white;
}

.footer__social-link:hover,
.footer__social-link:focus-visible {
  background-color: $additional;
}

.footer__social-link:active {
  background-color: $base;
}

.footer__social-link:disabled {
  opacity: 0.5;
}

