.hero {
  background-image: $main-gradient;
  margin-top: -85px;

  @media (max-width: $vp-1366) {
    margin-top: -95px;
  }
}

.hero .container {
  padding: 61px 276px 51px 120px;
  display: flex;
  color: $default-white;

  @media (max-width: $vp-1366) {
    padding: 82px 45px;
  }

  @media (max-width: $vp-768) {
    padding: 156px 15px 80px;
    display: flex;
    justify-content: flex-end;
  }
}

.hero__wrapper {
  max-width: 264px;
  margin-right: 64px;

  @media (max-width: $vp-1366) {
    margin-right: 30px;
  }

  @media (max-width: $vp-768) {
    margin-right: 0;
  }
}

.hero__wrapper, .hero__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.hero__text-wrapper {
  padding: 60px 10px 136px 0;
  justify-content: flex-end;
  margin-right: -25px;

  @media (max-width: $vp-1366) {
    margin-right: -25px;
  }

  @media (max-width: $vp-768) {
    margin-right: -115px;
    padding: 60px 3px 88px 0;
  }
}

.hero__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero__text {
  margin: 0;
  font-size: 14px;
}

.hero__subtitle {
  margin-bottom: 25px;
  text-align: center;
  font-family: "Alumni Sans";
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  padding: 0 25px 0 0;

  @media (max-width: 1366px) {
    font-size: 34px;
    margin-bottom: 15px;
  }

  @media (max-width: $vp-768) {
    font-size: 28px;
    margin-bottom: 20px;
  }

}

.hero .title {
  font-size: 92px;
  margin-bottom: 80px;
  line-height: normal;
  text-align: right;

  @media (max-width: $vp-1366) {
    font-size: 72px;
    margin-bottom: 60px;
  }

  @media (max-width: $vp-768) {
    margin-bottom: 30px;
  }
}

.hero__button {
  padding: 20px;
  text-align: center;
  color: $default-white;
  border: 4px solid $default-white;
  width: 90%;
  background-color: transparent;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: $vp-768) {
    width: 100%;
  }

  &:hover,
  &:focus-visible {
    background-color: $default-white;
    color: $additional;
  }

  &:active {
    background-color: $default-white;
    color: $base;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.hero img {
  @media (max-width: $vp-768) {
    display: none;
  }
}
