.intro {
  padding: 120px 0 235px;
  position: relative;

  @media (max-width: $vp-1366) {
    padding: 0 0 183px;
  }

  @media (max-width: $vp-768) {
    padding: 0;
  }
}

.intro .container {
  display: flex;

  @media (max-width: $vp-1366) {
    flex-direction: column;
  }

  @media (max-width: $vp-768) {
    padding: 70px 0 277px;
  }
}

.intro img {
  margin: 0 auto;
}

.intro__text-wrapper {
  padding: 0 10px 10px 60px;
  max-width: 35%;
  margin-right: 85px;

  @media (max-width: $vp-1366) {
    max-width: 100%;
    margin: 0;
    padding: 0 80px 50px;
    text-align: center;
  }

  @media (max-width: $vp-768) {
    padding: 0 15px 10px;
    text-align: left;
    margin-bottom: 30px;
  }
}

.intro .title {
  text-align: left;
  margin-bottom: 25px;

  @media (max-width: $vp-1366) {
    margin-bottom: 6px;
    text-align: center;
  }

  @media (max-width: $vp-768) {
    margin-bottom: 20px;
    text-align: left;
  }
}

.intro__subtitle {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 55px;

  @media (max-width: $vp-1366) {
    margin-bottom: 50px;
  }

  @media (max-width: $vp-768) {
    margin-bottom: 40px;
  }
}

.intro p {
  margin: 0;
}

.intro p:not(:last-of-type) {
  margin-bottom: 15px;
}

.intro__video-wrapper {
  position: absolute;
  bottom: 16%;
  left: 53%;
  transform: translateX(-53%);
  background-color: rgba(20, 54, 122, 0.50);

  @media (max-width: $vp-1366) {
    bottom: 15%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: $vp-768) {

  }
}

.intro__btn {
  cursor: pointer;
  z-index: 5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: transparent;
  background-color: transparent;

  &:disabled {
    cursor: auto;
  }
}

.intro__btn:hover .intro__btn-circle-1,
.intro__btn:focus-visible .intro__btn-circle-1,
.intro__btn:active .intro__btn-circle-1 {
  stroke: $base;
  opacity: 1;
}

.intro__btn:hover .intro__btn-circle-2,
.intro__btn:focus-visible .intro__btn-circle-2,
.intro__btn:active .intro__btn-circle-2 {
  fill: $default-white;
}

.intro__btn:hover .intro__btn-triangle,
.intro__btn:focus-visible .intro__btn-triangle,
.intro__btn:active .intro__btn-triangle {
  fill: $base;
}

.intro__btn:disabled .intro__btn-circle-1 {
  stroke: $base;
  opacity: 0.2;
}

.intro__btn:disabled .intro__btn-circle-2 {
  fill: $default-white;
  opacity: 0.2;
}

.intro__btn:disabled .intro__btn-triangle {
  fill: $base;
  opacity: 0.2;
}
