// Colors
// ---------------------------------

// Default

$base: #102654;
$default-white: #ffffff;
$add-white: #f8f9fc;
$additional: #103aae;
$additional-blue: #2e35ac;
$promo: #ed0233;
$err: #ff121f;
$dark: #030a1a;
$disabled: #afafaf;
$border: #74819c;
$shadow: #e8e8e8;
$current: #d10a42;
$comments-back: #1c3374;
$muted-gray: #b6bdcc;

// Gradient

$main-gradient: conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.23633825778961deg, #b80027 313.3060026168823deg);

$linear-gradient: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);






// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px - 1;
$vp-768:                            768px - 1;
$vp-1366:                            1366px - 1;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
